<div>
  <h2>Dokumentti: {{doc?.id}} {{doc?.name}}</h2>
</div>

<hr/>

<div *ngFor="let s of doc?.sections">
  <h2><div>Osio: {{s.id}} {{s.name}}</div></h2>
  <div *ngFor="let f of s.fields">
    <pre>
      fieldType: {{f.fieldType}}, type: {{f.type}}
    </pre>
    <label>{{f.name}}</label>
    <input type="text" value="{{f.value}}" [disabled]="f.disabled" [hidden]="!f.visible"/>
    <ul>
      <li *ngFor="let e of f.validationErrors">
        {{e.key}}: {{e.message}}
      </li>
    </ul>
  </div>
  <hr/>
</div>
